<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do Lost</title>
</head>
<body>
    <h1> <%= KindOfDay %> </h1>

    <ul>
        <li>Buy Food</li>
        <li>Cook Food</li>
        <li>Eat Food</li>
        <% for(i = 0; i < newListItems.lenth; i++){ %>
        <li> <%= newListItems[i] %> </li>
        <% } %>
        
        <form action="" method="post">
            <input type="text" name="newItem" autocomplete="off">
            <button type="submit">Add</button>
        </form>
    </ul>
</body>
</html>